/* generics */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    width: 100%;
}




/** utilities **/

.container{
    width: 100%;
    padding: 0 20px;
  }



/* flex */

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;    
  }
  
.column{
    width: 100%;
  }

.justify-space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}



/****** Content ******/


/* Header */

header{
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
}

.fa-bars{
    color: white;
}

header .fa-bars,
header img{
  vertical-align: middle;
}

ul{
    list-style-type: none;
  }

.menu ul{
    display: none;
}

.menu li{
    color: white;
    padding-right: 25px;
}

#button-start{
    height: 28px;
    width: 90px;
    border-radius: 15px;
    border: white;
    margin-top: 25px;
}

/* /Header */


/* Main */

main{
    padding-top: 80px;
}


section{
    margin-top: 50px;
    margin-bottom: 50px;
}

#product-presentation .card{
    background-color: #b5ddff;
    border-radius: 20px;
}

.card{
    border-radius: 25px;
    text-align:center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
}

#app-store{
    height: 36px;
    width: 170px;
    border-radius: 30px;
    border: white;
    background-color: #0084fd;
    margin-top: 25px;
    color: white;
    font-size: 17px;
    margin-bottom: 40px;
}

.fa-apple{
    padding-right: 10px;
}


h2{
    color: #0084fd;
    padding-top: 20px;
    padding-bottom: 20px; 
}

p{
    margin-bottom: 25px;
}



/* /Main */


/* Footer */

footer{
    background-color: #333333;
    min-height: 160px;
}
/* /Footer */




/* Media Query */

@media screen and (min-width: 768px){

}




@media screen and (min-width: 1200px){
    .menu .fa-bars{
        display: none;
      }
    
      .menu ul {
        display: flex;
      }
    
      .menu li {
        display: inline-block;
      }
}