/* generics */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    width: 100%;
}




/** utilities **/

.container{
    width: 100%;
    padding: 0 20px;
  }



/* flex */

.flex{
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;    
  }
  
.column{
    width: 100%;
    flex-direction: column;
    
  }

.justify-space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}



/****** Content ******/


/* Header */

header{
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
}

.fa-bars{
    color: white;
}

header .fa-bars,
header img{
  vertical-align: middle;
}

ul{
    list-style-type: none;
  }

.menu ul{
    display: none;
}

.menu li{
    color: white;
    padding-right: 25px;
}

#button-start{
    height: 28px;
    width: 90px;
    border-radius: 15px;
    border: white;
    margin-top: 25px;
}


/* /Header */


/* Main */


main{
    padding-top: 80px;
}


section{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px 0;
}




/* First Section */
#product-presentation .card{
    background-color: #b5ddff;
    border-radius: 20px;
}

.card{
    border-radius: 25px;
    text-align:center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#app-store{
    height: 36px;
    width: 170px;
    border-radius: 30px;
    border: white;
    background-color: #0084fd;
    margin-top: 25px;
    color: white;
    font-size: 17px;
    margin-bottom: 40px;
}

.fa-apple{
    padding-right: 10px;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    font-size: 100px;
    color: #0084fd;
    padding-top: 50px;
}


h2{
    color: #0084fd;
    padding-top: 30px;
    padding-bottom: 30px; 
}

p{
    margin-bottom: 25px;
    margin-right: 70px;
    margin-left: 70px;
}

/* /First Section */

/* Second Section */

#even{
    background-color: #9792e4;
    text-align: center;
}

#text-second-section{
    color: white;
    margin-top: 20px;

}

h1{
    color: white;
}

.app-developement{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

#even img{
    width: 80%;
}

/* /Main */


/* Footer */

footer{
    background-color: #333333;
    min-height: 160px;
}
/* /Footer */




/* Media Query */

@media screen and (min-width: 768px){
    #product-presentation .column {
        width: calc(100% / 3);
        padding: 0 10px;
      } 
    
    #product-presentation .column:first-child {
        width: calc(100% / 3 * 2);
      }
    
    #product-presentation img{
        width: 50%;
      }
    
}




@media screen and (min-width: 1200px){
    .menu .fa-bars{
        display: none;
      }
    
      .menu ul {
        display: flex;
      }
    
      .menu li {
        display: inline-block;
      }
    
}